<p>
This is the home page for the DMPTool
</p>
<p>
<a href="https://bitbucket.org/dmptool/main/wiki/Home/">DMPTool Wiki</a>
</p>
<p><%= link_to "Create an Account!", create_account_path, :class => "create_account" %>
</p>
<p>
<%= link_to "Create a Data Management Plan!", '#', :class => "create_dmp" %>
</p>

