This is the start page for the DMPTool wizard
<a href="https://bitbucket.org/dmptool/main/wiki/Home/">DMPTool Wiki</a>
<%= link_to "Create an Account!", create_account_path, :class => "create_account" %>
<%= link_to "Create a Data Management Plan!", '#', :class => "create_dmp" %>
