/*
Syntax error: Undefined mixin 'grid-system'.
        on line 5 of /home/darrowco/rails/testdmpcss/testdmp/app/stylesheets/partials/base.sass, in `grid-system'
        from line 5 of /home/darrowco/rails/testdmpcss/testdmp/app/stylesheets/partials/base.sass

1: $blue: #772244
2: 
3: // The following generates the default grids provided by the css version of 960.gs
4: .container_12
5:   +grid-system(12)
6: 
7: .container_16
8:   +grid-system(16)
9: 
10: // But most compass users prefer to construct semantic layouts like so (two column layout with header and footer):

Backtrace:
/home/darrowco/rails/testdmpcss/testdmp/app/stylesheets/partials/base.sass:5:in `grid-system'
/home/darrowco/rails/testdmpcss/testdmp/app/stylesheets/partials/base.sass:5
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:169:in `visit_mixin'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:53:in `map'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:53:in `map'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/tree/root_node.rb:20:in `render'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/engine.rb:291:in `_render'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/engine.rb:239:in `block in render'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/util.rb:297:in `silence_sass_warnings'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/engine.rb:239:in `render'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/plugin/compiler.rb:175:in `each'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/plugin/compiler.rb:173:in `each'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/plugin.rb:54:in `check_for_updates'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/plugin/rack.rb:51:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/actionpack-3.0.7/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/actionpack-3.0.7/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/methodoverride.rb:24:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/actionpack-3.0.7/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/actionpack-3.0.7/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/actionpack-3.0.7/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/actionpack-3.0.7/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:32:in `block in call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:12:in `cache'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:31:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/activesupport-3.0.7/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/sendfile.rb:107:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/actionpack-3.0.7/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/actionpack-3.0.7/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/railties-3.0.7/lib/rails/rack/logger.rb:13:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/runtime.rb:17:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/activesupport-3.0.7/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/lock.rb:11:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/actionpack-3.0.7/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/railties-3.0.7/lib/rails/application.rb:168:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/railties-3.0.7/lib/rails/application.rb:77:in `method_missing'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/railties-3.0.7/lib/rails/rack/log_tailer.rb:14:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/content_length.rb:13:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/rack-1.2.3/lib/rack/handler/webrick.rb:52:in `service'
/home/darrowco/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/home/darrowco/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/home/darrowco/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'grid-system'.\A         on line 5 of /home/darrowco/rails/testdmpcss/testdmp/app/stylesheets/partials/base.sass, in `grid-system'\A         from line 5 of /home/darrowco/rails/testdmpcss/testdmp/app/stylesheets/partials/base.sass\A \A 1: $blue: #772244\A 2: \A 3: // The following generates the default grids provided by the css version of 960.gs\A 4: .container_12\A 5:   +grid-system(12)\A 6: \A 7: .container_16\A 8:   +grid-system(16)\A 9: \A 10: // But most compass users prefer to construct semantic layouts like so (two column layout with header and footer):"; }
