/*
Syntax error: Invalid CSS after "": expected expression (e.g. 1px, bold), was "'grid.css', :me..."
        on line 5 of /home/darrowco/rails/testdmp/app/stylesheets/partials/temp.sass

1: !!!
2: %html
3: %head>
4: %title><%= title %></title>
5: = stylesheet_link_tag 'grid.css', :media => 'screen, projection' %>
6: = stylesheet_link_tag 'text.css', :media => 'screen, projection' %>
7: = csrf_meta_tag %>
8: 
9: h1><%= @title %></h1>
10: %body>

Backtrace:
/home/darrowco/rails/testdmp/app/stylesheets/partials/temp.sass:5
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/scss/parser.rb:898:in `expected'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/script/lexer.rb:193:in `expected!'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/script/parser.rb:458:in `assert_done'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/script/parser.rb:103:in `parse_mixin_definition_arglist'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/engine.rb:776:in `parse_mixin_definition'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/engine.rb:546:in `parse_line'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/engine.rb:447:in `build_tree'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/engine.rb:466:in `block in append_children'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/engine.rb:465:in `each'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/engine.rb:465:in `append_children'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/engine.rb:322:in `_to_tree'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/engine.rb:291:in `_render'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/engine.rb:239:in `block in render'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/util.rb:297:in `silence_sass_warnings'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/engine.rb:239:in `render'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/plugin/compiler.rb:175:in `each'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/plugin/compiler.rb:173:in `each'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/plugin.rb:54:in `check_for_updates'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/sass-3.1.3/lib/sass/plugin/rack.rb:51:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/rack-1.2.3/lib/rack/methodoverride.rb:24:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:32:in `block in call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:12:in `cache'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:31:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.0.7/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/rack-1.2.3/lib/rack/sendfile.rb:107:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/rack/logger.rb:13:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/rack-1.2.3/lib/rack/runtime.rb:17:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/activesupport-3.0.7/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/rack-1.2.3/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/rack-1.2.3/lib/rack/lock.rb:11:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/actionpack-3.0.7/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/application.rb:168:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/application.rb:77:in `method_missing'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180/gems/railties-3.0.7/lib/rails/rack/log_tailer.rb:14:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/rack-1.2.3/lib/rack/content_length.rb:13:in `call'
/home/darrowco/.rvm/gems/ruby-1.9.2-p180@global/gems/rack-1.2.3/lib/rack/handler/webrick.rb:52:in `service'
/home/darrowco/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/home/darrowco/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/home/darrowco/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"\": expected expression (e.g. 1px, bold), was \"'grid.css', :me...\"\A         on line 5 of /home/darrowco/rails/testdmp/app/stylesheets/partials/temp.sass\A \A 1: !!!\A 2: %html\A 3: %head>\A 4: %title><%= title %></title>\A 5: = stylesheet_link_tag 'grid.css', :media => 'screen, projection' %>\A 6: = stylesheet_link_tag 'text.css', :media => 'screen, projection' %>\A 7: = csrf_meta_tag %>\A 8: \A 9: h1><%= @title %></h1>\A 10: %body>"; }
